.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.disease-item {
  margin-bottom: 30px;
}
